<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Souvenirs</title>
        <link rel="shortcut icon" href="favicon.ico">
        <script>
            function previewImage(targetObj, View_area) {
                var preview = document.getElementById(View_area); //div id
                var ua = window.navigator.userAgent;

            //ie일때(IE8 이하에서만 작동)
                if (ua.indexOf("MSIE") > -1) {
                    targetObj.select();
                    try {
                        var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
                        var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);


                        if (ie_preview_error) {
                            preview.removeChild(ie_preview_error); //error가 있으면 delete
                        }

                        var img = document.getElementById(View_area); //이미지가 뿌려질 곳

                        //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
                        img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='scale')";
                    } catch (e) {
                        if (!document.getElementById("ie_preview_error_" + View_area)) {
                            var info = document.createElement("<p>");
                            info.id = "ie_preview_error_" + View_area;
                            info.innerHTML = e.name;
                            preview.insertBefore(info, null);
                        }
                    }
            //ie가 아닐때(크롬, 사파리, FF)
                } else {
                    var files = targetObj.files;
                    for ( var i = 0; i < files.length; i++) {
                        var file = files[i];
                        var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
                        if (!file.type.match(imageType))
                            continue;
                        var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
                        if (prevImg) {
                            preview.removeChild(prevImg);
                        }
                        var img = document.createElement("img"); 
                        img.id = "prev_" + View_area;
                        img.classList.add("obj");
                        img.file = file;
                        img.style.width = '612px'; 
                        img.style.height = '498px';
                        preview.appendChild(img);
                        if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                            var reader = new FileReader();
                            reader.onloadend = (function(aImg) {
                                return function(e) {
                                    aImg.src = e.target.result;
                                };
                            })(img);
                            reader.readAsDataURL(file);
                        } else { // safari is not supported FileReader
                            //alert('not supported FileReader');
                            if (!document.getElementById("sfr_preview_error_"
                                    + View_area)) {
                                var info = document.createElement("p");
                                info.id = "sfr_preview_error_" + View_area;
                                info.innerHTML = "not supported FileReader";
                                preview.insertBefore(info, null);
                            }
                        }
                    }
                }
            }
            function prevImgRemoved(View_area){
                var preview = document.getElementById(View_area); //div id
                var ua = window.navigator.userAgent;

                if (ua.indexOf("MSIE") > -1) {
                    var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);
                    if (ie_preview_error) {
                        preview.removeChild(ie_preview_error); //error가 있으면 delete
                    }
                } else {
                    var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
                    if (prevImg) {
                        preview.removeChild(prevImg);
                    }
                }
                
            }
        </script>
        <link rel="stylesheet" type="text/css" href="header.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <style>
            @media (max-height: 890px){
                #header {
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
            @font-face{
                font-family: MGothic;
                src: local('210 M고딕050'),
                     url('210 M고딕050.ttf') format('truetype');
            }
            html{
                font-size: 1rem;
            }
            a:hover, a:focus{
                color: #2d2d2d;
                text-decoration: none;
            }
            a:focus{
                outline: none;
                outline-offset: none;
            }
            #header {
                position: fixed;
                left: 0;
                top: 0;
                width: 250px;
                height: 100vh;
                background: #FFC2C5;
                padding: 50px 0;
            }
            #fullpage {
                margin-top: 13px;
                margin-left: 300px;
            }
            #View_area{
                width: 614px;
                height: 500px;
                color: black;
                border: 1px solid black;
                display: inline-block;
            }
            .filebox label {
                font-family: MGothic, sans-serif;
                display: block;
                width: 150px;
                text-align: center;
                padding: 10px 50px;
                font-size: 0.8em;
                line-height: normal;
                background-color: #FFC2C5;
                cursor: pointer;
                border-radius: .20em;
                -webkit-transition: background-color 0.2s;
                transition: background-color 0.2s;
            }

            .filebox label:hover {
                background-color: rgb(255, 211, 213);
            }

            .filebox label:active {
                background-color: #FFC2C5;
            }

            .filebox input[type="file"] {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }

            .filebox textarea{
                display: block;
                width: 610px;
                font-size: 1.5em;
            }
            button{
                font-family: MGothic, sans-serif;
                border: none;
                margin-right: 10px;
                display: block;
                width: 150px;
                text-align: center;
                padding: 10px 50px;
                font-size: 0.8em;
                line-height: normal;
                background-color: #FFC2C5;
                cursor: pointer;
                border-radius: .20em;
                -webkit-transition: background-color 0.2s;
                transition: background-color 0.2s;
            }
            .table{
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <header id="header">
            <div>
                <div class="logo">
                    <a href="/main">
                        <img src="mainLogo.png" width="80%">
                    </a>
                </div>
                <nav id="nav">
                    <ul>
                        <li>
                            <a href="/main" class="group">
                                <span>그룹 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="/imgUp" class="upload">
                                <span>업로드</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="fullpage">
            <div class="cGcGK">
                <div class="filebox">
                    <div class="container">
                        <table class="table table-bordered">
                            <tbody>
                                <form action="/main" method="post" encType="multiplart/form-data">
                                    <tr>
                                        <th>제목: </th>
                                        <td><input type="text" placeholder="제목을 입력하세요. " name="board_title" class="form-control" required></td>
                                    </tr>
                                    <tr>
                                        <th>내용: </th>
                                        <td><textarea cols="10" placeholder="내용을 입력하세요. " name="board_content" class="form-control"></textarea></td>
                                    </tr>
                                    <tr>
                                        <th>사진: </th>
                                        <td>
                                            <div id='View_area'></div>
                                            <label for="profile_pt">사진첨부</label>
                                            <input type="file" name="profile_pt" id="profile_pt" onchange="previewImage(this,'View_area')">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button type="submit"class="pull-right">등록</button>
                                            <button type="reset" class="pull-left" onclick="prevImgRemoved('View_area')">reset</button>
                                            <button class="pull-right" onclick="javascript:location.href='main'">글 목록</button>
                                        </td>
                                    </tr>
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>  