<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Souvenirs</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <div class="content">
            <div class="cell utilityBlock">
                <div class="textbox">
                    <form method="post" id="authForm" action="/main">
                            <h1 class="Login_name">Login</h2>
                            <div class="box_login">
                            <div class="inp_text">
                                <label for="loginId">아이디</label>
                                <input type="text" id="loginId" name="loginId" placeholder=" ID" required>
                            </div>
                            <div class="inp_text">
                                <label for="loginPw">비밀번호</label>
                                <input type="password" id="loginPw" name="password" placeholder=" Password" required>
                            </div>
                            </div>
                            <div align="right">
                                <button type="submit" class="btn_login">Login</button>
                                <div class="login_append">
                                    <span class="txt_find">
                                        <a href="/" class="link_find">아이디</a>
                                        / 
                                        <a href="/" class="link_find">비밀번호 찾기</a>
                                        &nbsp;|&nbsp;
                                        <a href="/SignUp" class="link_find">회원가입</a>
                                    </span>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
            <div class="cell Block">
                    <a href="/" class="imga"><img src="/Souvenirs3.png" class="SouLo"></a>
            </div>
        </div>
    </body>
</html>