<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Souvenirs</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="header.css">
        <style>
            #header {
                position: fixed;
                left: 0;
                top: 0;
                width: 250px;
                height: 100vh;
                background: #FFC2C5;
                padding: 50px 0;
            }
            #fullpage {
                margin-top: 50px;
                margin-left: 400px;
            }
            article{
                display:inline-block;
                border-radius: 3px;
                border: 1px solid #e6e6e6;
                max-width: 464px;
                margin-right: 60px;
                margin-bottom: 40px;
            }
            article > span{
                font-family: MGothic, sans-serif;
            }
            article > div > img{
                height: 350px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <header id="header">
            <div>
                <div class="logo">
                    <a href="/main">
                        <img src="mainLogo.png" width="80%">
                    </a>
                </div>
                <nav id="nav">
                    <ul>
                        <li>
                            <a href="/main" class="group">
                                <span>그룹 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="/imgUp" class="upload">
                                <span>업로드</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav id="nav">
                        <ul>
                        <li>
                            <a href="/friend" class="group">
                                <span>친구</span>
                            </a>
                        </li>
                    </ul>
                </nav>  
            </div>
        </header>
        <div id="fullpage">
            <div class="cGcGK">
                <article>
                    <div>
                        <img src="https://image-cdn.hypb.st/https%3A%2F%2Fkr.hypebeast.com%2Ffiles%2F2018%2F04%2Fphoto-editor-app-recommendation-01.jpg?q=75&w=800&cbr=1&fit=max" alt="">
                    </div>
                    <div>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis debitis sit recusandae hic ea odit unde ipsa dignissimos numquam minus beatae voluptatem sapi</span>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="https://www.apple.com/newsroom/images/product/iphone/lifestyle/Shot-on-iPhone-Challenge-Announcement-Swimming-in-water_big.jpg.large.jpg" alt="">
                    </div>
                    <div>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis debitis sit recusandae hic ea odit unde ipsa dignissimos numquam minus beatae voluptatem sapi</span>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="https://s-i.huffpost.com/gen/2547904/images/n-LENS-GIRL-628x314.jpg" alt="">
                    </div>
                    <div>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis debitis sit recusandae hic ea odit unde ipsa dignissimos numquam minus beatae voluptatem sapi</span>
                    </div>
                </article>
            </div>
        </div>
    </body>
</html>  