<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Souvenirs</title>
        <link rel="shortcut icon" href="favicon.ico">
        <style>
            @media ( max-width: 1000px ) {
                .SouLo{
                    width:80%;
                    text-align: center;
                }
            }
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
            }
            .content {
                background-color: #fff;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -moz-box-orient: horizontal;
                -moz-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
                -moz-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                height: 100%;
            }
            .cell {
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                position: relative;
            }
            .Block {
                background: #FFC2C5;
                overflow: hidden;
                position: relative;
            }
            body {
                background: #e6ecf0;
                color: #14171a;
                font-size: 14px;
                line-height: 20px;
                overflow-y: scroll;
            }
            input[type="text"], input[type="password"] { 
                height: auto; /* 높이 초기화 */ 
                line-height: normal; /* line-height 초기화 */ 
                padding: .8em .5em; /* 여백 설정 */ 
            }
            .textbox {
                position: relative;
                width: 300px;
            } 
            .textbox label { 
                top: 1px; /* input 요소의 border-top 설정값 만큼 */ 
                left: 1px; /* input 요소의 border-left 설정값 만큼 */ 
                padding: .8em .2em; /* input 요소의 padding 값 만큼 */ 
                color: #6E6C6B;
                cursor: text; 
                } 
            .textbox input[type="text"], .textbox input[type="password"] { 
                width: 100%; /* 원하는 너비 설정 */ 
                height: auto; /* 높이값 초기화 */ 
                line-height : normal; /* line-height 초기화 */ 
                padding: .5em .1em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */ 
                font-family: inherit; /* 폰트 상속 */ 
                border: 1px solid #C2BFBE; 
                border-radius: 0; /* iSO 둥근모서리 제거 */ 
                outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */ 
                -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */ 
                -moz-appearance: none; 
                appearance: none; 
                margin-bottom: 13px;
                margin-top: 4px;
            }
            .SignUp_name{
                text-align: center;
            }
            .btn_SignUp {
                width:100px;
                background-color: #FFC2C5;
                border: none;
                color:#fff;
                padding: 10px 0;
                text-align: center;
                text-decoration: none;
                font-size: 15px;
                margin: 4px;
                cursor: pointer;
                border-radius:10px;
            }
            .link_find{
                text-decoration:none;
                color: #6E6C6B;
            }
            .imga{
                text-align: center;
            }
        </style>
    </head>
    <body>
            <div class="content">
                <div class="cell utilityBlock">
                    <div class="textbox">
                        <form method="post" id="authForm" action="/">
                            <input type="hidden" name="redirectUrl" value="https://blogpack.tistory.com/manage">
                                <h1 class="SignUp_name">Sign Up</h2>
                                <div class="box_SignUp">
                                    <div class="inp_text">
                                        <label for="SignUpId" class="screen_out">아이디</label>
                                        <input type="text" id="SignUpId" name="SignUpId" placeholder=" ID" >
                                    </div>
                                    <div class="inp_text">
                                        <label for="SignUpPw" class="screen_out">비밀번호</label>
                                        <input type="password" id="SignUpPw" name="password" placeholder=" Password" >
                                    </div>
                                    <div class="inp_text">
                                            <label for="SignUpPw" class="screen_out">비밀번호 확인</label>
                                            <input type="password" id="SignUpConPw" name="password" placeholder=" Confirm Password" >
                                    </div>
                                    <div class="inp_text">
                                            <label for="SignUpPw" class="screen_out">닉네임</label>
                                            <input type="text" id="SignUp_NickName" name="password" placeholder=" Nick Name" >
                                    </div>
                                </div>
                                <div align="right">
                                    <button type="submit" class="btn_SignUp">Sign Up</button>
                                </div>
                        </form>
                        </div>
                    </div>
                <div class="cell Block">
                    <a href="/" class="imga"><img src="Souvenirs3.png" class="SouLo"></a>
                </div>
            </div>
    </body>
</html>